/*
Theme Nave: rushingtogether
Author: Glen Calica
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");
:root {
  --black: #4a4a4a;
  --falu-red-hover: #ae4141;
  --falu-red: #821515;
  --falu-red-light-1: #efe5e4;
  --falu-red-light-2: #e8d5d4;
  --white: #f7f7f6;
  --text-margin: 16px;
  --body-padding: 36px;
  --screen-size: 100%;
  font-size: 20px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  max-width: 100vw;
}

::selection {
  background: #e8afaf;
}

a {
  text-decoration: none;
  color: var(--falu-red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: var(--text-margin) 0;
  color: var(--falu-red);
}

h1 {
  color: var(--falu-red);
}

img {
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: var(--text-margin) 0;
  color: var(--black);
}

button:hover {
  cursor: pointer;
}

.excerpt {
  display: none;
}

.email,
.search {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.email input,
.search input {
  font-size: 12px;
  height: 34px;
  width: 60%;
  padding-left: 10px;
  border: 0;
}
.email input::placeholder,
.search input::placeholder {
  color: var(--falu-red);
  font-weight: 700;
}
.email input[type=text],
.search input[type=text] {
  font-weight: 700;
  color: var(--falu-red);
}
.email button,
.search button {
  background-color: var(--falu-red);
  color: var(--white);
  font-weight: 700;
  font-size: 12px;
  width: 30%;
  border: 0;
}

.aspect-ratio {
  position: relative;
  height: 0;
  padding-top: 75%;
}
.aspect-ratio .aspect-ratio-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav.nav-top {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
  padding: 0 var(--body-padding);
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(100% - (var(--body-padding) * 2));
  background-color: var(--white);
  z-index: 4;
}
nav.nav-top a {
  transition: color 0.3s;
}
nav.nav-top a:hover {
  color: var(--falu-red-hover);
}
nav.nav-top h1 {
  width: 230px;
  font-size: 1rem;
}
nav.nav-top button {
  border: 0;
  background-color: var(--white);
}
nav.nav-top button.btn-search {
  background-color: var(--falu-red);
}
nav.nav-top .nav-bar {
  display: none;
}
nav.nav-top .nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 600px;
}
nav.nav-top .nav-bar ul li {
  color: var(--falu-red);
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
}
nav.nav-top .search {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
nav.nav-top .search form {
  position: relative;
  height: 44px;
  width: 264px;
}
nav.nav-top .search form input {
  position: absolute;
  width: 200px;
  height: 100%;
}
nav.nav-top .search form button {
  position: absolute;
  width: 44px;
  height: 100%;
  right: 0;
}

.mobile-menu-background {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 5;
  cursor: pointer;
}

.mobile-menu-background.toggle {
  right: 0;
}

.mobile-menu {
  max-width: 400px;
  background-color: var(--falu-red-light-1);
  height: calc(100vh - 40px);
  width: calc(100% - 80px);
  padding: 20px 40px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
  z-index: 10;
}
.mobile-menu a,
.mobile-menu p,
.mobile-menu h2 {
  color: var(--falu-red);
}
.mobile-menu .heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mobile-menu .heading h1 {
  font-size: 20px;
}
.mobile-menu .heading button {
  position: absolute;
  top: 21px;
  right: 11px;
  border: 0;
  background-color: var(--falu-red-light-1);
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.mobile-menu ul li {
  margin: 20px 0;
  font-weight: 700;
}
.mobile-menu ul li:first-child {
  margin-top: 0;
}
.mobile-menu .bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 80px);
  text-align: center;
}
.mobile-menu .bottom .search {
  margin-bottom: 40px;
}
.mobile-menu .bottom .search form {
  position: relative;
  height: 44px;
  width: 100%;
}
.mobile-menu .bottom .search form input {
  position: absolute;
  padding: 0 10px;
  left: 0px;
  width: calc(100% - 64px);
  height: 100%;
}
.mobile-menu .bottom .search form button {
  position: absolute;
  width: 44px;
  height: 100%;
  right: 0;
}
.mobile-menu .bottom .socials p {
  font-size: 14px;
}
.mobile-menu .bottom .socials img {
  height: 20px;
  margin: 0 10px;
}
.mobile-menu .bottom .ending-tag h2 {
  font-size: 12px;
}
.mobile-menu .bottom .ending-tag p {
  font-size: 10px;
}

.mobile-menu.toggle {
  right: 0px;
}

.mobile-menu > * {
  visibility: hidden;
}

.mobile-menu.toggle > * {
  visibility: visible;
}

.top-margin {
  padding-top: 104px;
}

header {
  margin-bottom: 80px;
  padding: 0 var(--body-padding);
}
header a,
header p {
  color: var(--falu-red);
}
header a {
  transition: color 0.3s;
}
header a:hover {
  color: var(--falu-red-hover);
}
header .image-container {
  width: 100%;
}
header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
header img:hover {
  opacity: 0.85;
}
header p {
  font-weight: 600;
}
header p.read-more {
  text-align: right;
}

section.learn {
  margin: 80px 0;
  padding: 0 var(--body-padding);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--falu-red-light-1);
}
section.learn h2,
section.learn p {
  color: var(--falu-red);
}
section.learn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.learn .card-container {
  margin: 30px 0;
}
section.learn .card-container .card {
  background-color: var(--falu-red-light-2);
  margin: 40px 0;
  transition: box-shadow 0.3s;
}
section.learn .card-container .card .text {
  padding: 24px 36px;
  text-align: center;
}
section.learn .card-container .card:hover {
  -webkit-box-shadow: 0px 0px 13px 1px rgba(130, 21, 21, 0.2);
  -moz-box-shadow: 0px 0px 13px 1px rgba(130, 21, 21, 0.2);
  box-shadow: 0px 0px 13px 1px rgba(130, 21, 21, 0.2);
}

section.articles {
  margin: 80px 0;
  padding: 0 var(--body-padding);
}
section.articles .article-container .article {
  display: flex;
  justify-content: space-between;
}
section.articles .article-container .article .image-container {
  width: 50%;
}
section.articles .article-container .article .article-image {
  width: 100%;
  height: 100%;
}
section.articles .article-container .article .article-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
section.articles .article-container .article .article-image img:hover {
  opacity: 0.85;
}
section.articles .article-container .article .text {
  width: 40%;
}
section.articles .article-container .article .text h2 {
  font-size: 16px;
  text-align: center;
  transition: color 0.3s;
}
section.articles .article-container .article .text h2:hover {
  color: var(--falu-red-hover);
}
section.articles .article-container .article hr {
  margin: 15px 0;
  border-top: 1px solid var(--falu-red-light-2);
}
section.articles .btn {
  display: flex;
  justify-content: center;
}
section.articles button {
  background-color: var(--falu-red-light-2);
  color: var(--falu-red);
  font-weight: 700;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  transition: color 0.3s, background-color 0.3s;
}
section.articles button:hover {
  background-color: var(--falu-red);
  color: var(--white);
}

section.instagram {
  margin: 80px 0;
  padding: 0 var(--body-padding);
}
section.instagram #sb_instagram {
  margin-top: 30px;
}

footer {
  background-color: var(--falu-red-light-1);
  padding: 0 var(--body-padding);
  padding-top: 40px;
  padding-bottom: 40px;
}
footer a,
footer p,
footer h2 {
  color: var(--falu-red);
}
footer h1 {
  font-size: 1rem;
  width: 40px;
}
footer p {
  font-weight: 700;
  font-size: 14px;
}
footer nav.footer-nav {
  display: flex;
  padding: 0;
}
footer nav.footer-nav a {
  transition: color 0.3s;
}
footer nav.footer-nav a:hover {
  color: var(--falu-red-hover);
}
footer nav.footer-nav .nav-links {
  width: 60%;
}
footer nav.footer-nav .nav-links ul {
  margin: 0;
  padding: 0;
}
footer nav.footer-nav .nav-links ul li {
  color: var(--falu-red);
  font-weight: 700;
  font-size: 14px;
  margin: 13px 0;
  list-style-type: none;
}
footer nav.footer-nav .socials {
  width: 40%;
}
footer nav.footer-nav .socials .social-title {
  margin-top: 13px 0;
}
footer nav.footer-nav .socials img {
  margin-right: 15px;
}
footer .subscribe {
  max-width: 500px;
}
footer .icon {
  height: 20px;
}
footer .ending-tag {
  text-align: center;
}
footer .ending-tag span {
  font-family: "Source Sans Pro", sans-serif;
}
footer .ending-tag h2 {
  font-size: 12px;
}
footer .ending-tag p {
  font-size: 10px;
}

section.single {
  margin: 40px 0 80px 0;
  padding: 0 var(--body-padding);
}

section.blog-post {
  line-height: 1.5rem;
}
section.blog-post figure {
  margin-left: 0;
  margin-right: 0;
}
section.blog-post figure img {
  height: auto;
}
section.blog-post h1 {
  line-height: 1;
  display: inline-block;
}
section.blog-post img.post-thumbnail {
  margin: 30px 0;
  width: 100%;
}
section.blog-post div.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
section.blog-post div.tags a {
  background-color: var(--falu-red-light-2);
  color: var(--falu-red);
  font-weight: 700;
  margin: 3px 6px;
  margin-left: 0;
  padding: 10px 20px;
  transition: color 0.3s, background-color 0.3s;
}
section.blog-post div.tags a:hover {
  background-color: var(--falu-red);
  color: var(--white);
}

.result-container .result {
  margin: 36px 0;
}
.result-container .result a,
.result-container .result h2 {
  transition: color 0.3s;
}
.result-container .result h2:hover,
.result-container .result a:hover {
  color: var(--falu-red-hover);
}
.result-container .result .image-container {
  display: none;
}
.result-container .result .text .excerpt {
  display: inline;
}
.result-container .result img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.result-container hr {
  border-top: 1px solid var(--falu-red-light-2);
}

.single .search {
  margin: 36px 0;
  display: flex;
  align-items: center;
}
.single .search form {
  position: relative;
  height: 44px;
  width: 264px;
}
.single .search form input {
  position: absolute;
  width: 200px;
  height: 100%;
}
.single .search form input[type=text] {
  font-weight: 700;
  color: var(--falu-red);
}
.single .search form button {
  position: absolute;
  width: 44px;
  height: 100%;
  right: 0;
}

section.articles.archive {
  margin-top: 40px;
}
section.articles.archive .article-container {
  margin-top: 0;
  margin-bottom: 0;
}
section.articles.archive .content {
  margin-top: 36px;
}
section.articles.archive ul.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
}
section.articles.archive ul.tags li {
  padding: 10px 0;
  margin: 6px 0;
}
section.articles.archive ul.tags li a {
  background-color: var(--falu-red-light-2);
  color: var(--falu-red);
  font-weight: 700;
  padding: 10px 20px;
  margin: 0 6px;
  transition: color 0.3s, background-color 0.3s;
}
section.articles.archive ul.tags li a:hover {
  background-color: var(--falu-red);
  color: var(--white);
}
section.articles.archive ul.tags li.current-tag a {
  background-color: var(--falu-red);
  color: var(--white);
}
section.articles.archive .pagination-links {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  :root {
    --body-padding: 48px;
  }

  .mobile-menu .bottom .ending-tag h2 {
    font-size: 18px;
  }
  .mobile-menu .bottom .ending-tag p {
    font-size: 12px;
  }

  .subscribe form button,
.subscribe form input,
.search form button,
.search form input {
    font-size: 18px;
    padding: 0 10px;
  }
  .subscribe form button,
.search form button {
    padding: 0;
  }
  .subscribe form button img,
.search form button img {
    transform: translateX(-1px);
  }

  .subscribe {
    margin: 30px 0;
  }
  .subscribe form button,
.subscribe form input {
    font-size: 18px;
    padding: 5px 10px;
  }

  section.articles .article-container .article .text h2 {
    font-size: 20px;
  }

  nav.nav-top h1 {
    font-size: 1.4rem;
  }

  footer h1 {
    font-size: 1.4rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer nav.footer-nav .nav-links ul li {
    font-size: 1rem;
  }
  footer .ending-tag h2 {
    font-size: 18px;
  }
  footer .ending-tag p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 650px) {
  section.learn .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section.learn .card-container .card {
    width: 46%;
    height: auto;
    margin: 2% 2%;
  }
  section.learn .card-container .card .text {
    text-align: center;
  }
  section.learn .card-container .card h2 {
    font-size: 1rem;
  }

  section.articles .article-container {
    display: flex;
    flex-wrap: wrap;
  }
  section.articles .article-container .article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 46%;
    height: auto;
    margin: 4% 2%;
  }
  section.articles .article-container .article .image-container {
    width: 100%;
  }
  section.articles .article-container .article .text {
    width: 90%;
    text-align: center;
  }
  section.articles .article-container .article .text h2 {
    font-size: 1rem;
  }
  section.articles .article-container hr {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .excerpt {
    display: inline;
    margin: 16px 0;
    font-size: 14px;
  }

  section.learn .card-container .text h2 {
    margin-top: 0;
  }

  section.articles .article-container .article .text {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 850px) {
  .excerpt {
    display: inline;
    font-size: 16px;
  }
}
@media only screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .image-container {
    height: calc(75% / 2);
    width: 50%;
  }
  header .featured-text {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  header .featured-text .read-more {
    margin-top: auto;
  }

  section.instagram .image-container .image {
    width: 23%;
    margin: 1% 1%;
  }
}
@media only screen and (min-width: 1000px) {
  section.learn .card-container .card {
    width: 31%;
    margin: 1% 1%;
  }

  section.articles .article-container .article {
    width: 31%;
    margin: 2% 1%;
  }
}
@media only screen and (min-width: 1024px) {
  nav.nav-top .hamburger-open {
    display: none;
  }

  nav.nav-top .nav-bar {
    display: flex;
  }

  .mobile-menu .bottom .ending-tag h2 {
    font-size: 1rem;
  }

  footer h1 {
    font-size: 2rem;
    width: 100%;
  }
  footer .footer-menu .footer-nav .socials img.icon {
    height: 30px;
    width: 30px;
  }
  footer .ending-tag h2 {
    font-size: 1rem;
  }

  .result-container .result {
    display: flex;
  }
  .result-container .result .image-container {
    display: block;
    width: 20%;
    margin: 20px 20px 20px 0;
  }
  .result-container .result .image-container img {
    width: 100%;
  }
  .result-container .result .text {
    width: 80%;
  }
  .result-container .result .text .excerpt {
    display: inline;
  }
  .result-container hr {
    border-top: 1px solid var(--falu-red-light-2);
  }

  hr:last-of-type {
    display: none;
  }

  .no-results {
    height: 100px;
  }
}
@media only screen and (min-width: 1100px) {
  :root {
    --body-padding: 10%;
  }

  section.blog-post {
    padding: 0 var(--body-padding);
  }
}
@media only screen and (min-width: 1400px) {
  section.blog-post {
    padding: 0 280px;
  }
}
@media only screen and (min-width: 1500px) {
  h1 {
    font-size: 3rem;
  }

  nav.nav-top .nav-bar ul li {
    font-size: 1rem;
  }

  .excerpt {
    font-size: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  header .image-container {
    height: calc(75% / (100 / 55));
    width: 55%;
  }
  header .featured-text {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  header .featured-text .read-more {
    margin-top: auto;
  }

  section.learn .card-container {
    justify-content: space-between;
  }
  section.learn .card-container .card {
    max-width: 400px;
  }

  section.articles .article-container {
    justify-content: flex-start;
  }
  section.articles .article-container .article .text h2 {
    font-size: 1.5rem;
  }

  footer h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1920px) {
  :root {
    --body-padding: 14%;
  }

  section.learn .card-container .card .text {
    padding: 36px 48px;
  }

  section.articles .article-container .article .text {
    width: 80%;
  }
}
@media only screen and (min-width: 2400px) {
  :root {
    --body-padding: 20%;
  }
}
@media only screen and (min-width: 2880px) {
  :root {
    --body-padding: 25%;
  }
}
@media only screen and (min-width: 3360px) {
  :root {
    --body-padding: 30%;
  }
}
@media only screen and (min-width: 3640px) {
  :root {
    --body-padding: 35%;
  }
}
@media only screen and (min-width: 5795px) {
  :root {
    --body-padding: 40%;
  }
}
@media only screen and (max-height: 660px) {
  .mobile-menu ul li {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
