@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

:root {
  --falu-red: #821515;
  --falu-red-light-1: #efe5e4;
  --falu-red-light-2: #e8d5d4;
  --white: #f7f7f6;
  --text-margin: 16px;
  --body-padding: 0 36px;
  font-size: 20px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: var(--falu-red);
  margin: var(--text-margin) 0;
}

img {
  background-size: cover;
  background-position: no-repeat;
  background-repeat: no-repeat;
}

p {
  color: var(--falu-red);
  margin: var(--text-margin) 0;
}

// nav,
// header,
// section.learn {
//   padding: var(--body-padding);
// }

nav {
  display: flex;
  justify-content: space-between;
  padding: var(--body-padding);
  margin: 20px 0 36px 0;

  h1 {
    width: 100px;
    font-size: 1rem;
  }

  button {
    border: 0;
    background-color: var(--white);
  }
}

header {
  margin-bottom: 80px;
  padding: var(--body-padding);
  img {
    width: 100%;
  }

  p {
    font-weight: 600;
  }

  p.read-more {
    text-align: right;
  }
}

section.learn {
  margin: 80px 0;
  padding: var(--body-padding);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--falu-red-light-1);

  img {
    width: 100%;
  }

  .card-container {
    margin: 30px 0;

    .card {
      background-color: var(--falu-red-light-2);
      margin: 40px 0;
      .text {
        padding: 24px 36px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

section.articles {
  margin: 80px 0;
  padding: var(--body-padding);

  .article-container {
    margin: 50px 0;

    .article {
      display: flex;
      justify-content: space-between;

      .article-image {
        width: 50%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .text {
        width: 40%;
        h1 {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    hr {
      margin: 15px 0;
      border-top: 1px solid var(--falu-red-light-2);
    }
  }

  .btn {
    display: flex;
    justify-content: center;
  }
  button {
    background-color: var(--falu-red-light-2);
    color: var(--falu-red);
    font-weight: 700;
    text-align: center;
    border: 0;
    padding: 10px 20px;
  }
}

section.instagram {
  margin: 80px 0;
  padding: var(--body-padding);

  .image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

    .image {
      width: 46%;
      height: auto;
      margin: 2% 2%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  background-color: var(--falu-red-light-1);
  padding: var(--body-padding);
  padding-top: 40px;
  padding-bottom: 80px;

  h1 {
    font-size: 1rem;
    width: 40px;
  }

  p {
    font-weight: 700;
    font-size: 14px;
  }

  form {
    display: flex;
    width: 100%;
    input {
      font-size: 12px;
      height: 34px;
      width: 60%;
      padding-left: 10px;
      border: 0;
    }

    input::placeholder {
      color: var(--falu-red);
      font-weight: 700;
    }
    button {
      background-color: var(--falu-red);
      color: var(--white);
      font-weight: 700;
      font-size: 12px;
      width: 40%;
      border: 0;
    }
  }

  nav.footer-nav {
    display: flex;
    padding: 0;
    .nav-links {
      width: 60%;
      ul {
        padding: 0;
        li {
          color: var(--falu-red);
          font-weight: 700;
          font-size: 14px;
          margin: 13px 0;
          list-style-type: none;
        }
      }
    }
    .socials {
      width: 40%;
      img {
        margin-right: 15px;
      }
    }
  }

  .icon {
    height: 20px;
  }

  .ending-tag {
    text-align: center;
    span {
      font-family: "Source Sans Pro", sans-serif;
    }
    h2 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
  }
}
