@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

:root {
  --falu-red: #821515;
  --falu-red-light-1: #efe5e4;
  --falu-red-light-2: #e8d5d4;
  --white: #f7f7f6;
  --text-margin: 16px;
  --body-padding: 0 36px;
  font-size: 20px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: var(--falu-red);
  margin: var(--text-margin) 0;
}

img {
  background-size: cover;
  background-position: no-repeat;
  background-repeat: no-repeat;
}

p {
  color: var(--falu-red);
  margin: var(--text-margin) 0;
}

p.excerpt {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: var(--body-padding);
  margin: 20px 0 36px 0;

  h1 {
    width: 100px;
    font-size: 1rem;
  }

  button {
    border: 0;
    background-color: var(--white);
  }

  .nav-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      color: var(--falu-red);
      font-weight: 700;
      margin: 10px;
    }
  }
}

header {
  margin-bottom: 80px;
  padding: var(--body-padding);
  img {
    width: 100%;
  }

  p {
    font-weight: 600;
  }

  p.read-more {
    text-align: right;
  }
}

section.learn {
  margin: 80px 0;
  padding: var(--body-padding);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--falu-red-light-1);

  img {
    width: 100%;
  }

  .card-container {
    margin: 30px 0;

    .card {
      background-color: var(--falu-red-light-2);
      margin: 40px 0;
      .text {
        padding: 24px 36px;
        text-align: center;
      }
    }
  }
}

section.articles {
  margin: 80px 0;
  padding: var(--body-padding);

  .article-container {
    margin: 50px 0;

    .article {
      display: flex;
      justify-content: space-between;

      .article-image {
        width: 50%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .text {
        width: 40%;
        h1 {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    hr {
      margin: 15px 0;
      border-top: 1px solid var(--falu-red-light-2);
    }
  }

  .btn {
    display: flex;
    justify-content: center;
  }
  button {
    background-color: var(--falu-red-light-2);
    color: var(--falu-red);
    font-weight: 700;
    text-align: center;
    border: 0;
    padding: 10px 20px;
  }
}

section.instagram {
  margin: 80px 0;
  padding: var(--body-padding);

  .image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

    .image {
      width: 46%;
      height: auto;
      margin: 2% 2%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  background-color: var(--falu-red-light-1);
  padding: var(--body-padding);
  padding-top: 40px;
  padding-bottom: 80px;

  h1 {
    font-size: 1rem;
    width: 40px;
  }

  p {
    font-weight: 700;
    font-size: 14px;
  }

  form {
    display: flex;
    width: 100%;
    max-width: 500px;
    input {
      font-size: 12px;
      height: 34px;
      width: 60%;
      padding-left: 10px;
      border: 0;
    }

    input::placeholder {
      color: var(--falu-red);
      font-weight: 700;
    }
    button {
      background-color: var(--falu-red);
      color: var(--white);
      font-weight: 700;
      font-size: 12px;
      width: 40%;
      border: 0;
    }
  }

  nav.footer-nav {
    display: flex;
    padding: 0;
    .nav-links {
      width: 60%;
      ul {
        padding: 0;
        li {
          color: var(--falu-red);
          font-weight: 700;
          font-size: 14px;
          margin: 13px 0;
          list-style-type: none;
        }
      }
    }
    .socials {
      width: 40%;
      img {
        margin-right: 15px;
      }
    }
  }

  .icon {
    height: 20px;
  }

  .ending-tag {
    text-align: center;
    span {
      font-family: "Source Sans Pro", sans-serif;
    }
    h2 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
  }
}

@media only screen and (min-width: 500px) {
  :root {
    --body-padding: 0 48px;
  }

  section.articles .article-container .article .text h1 {
    font-size: 20px;
  }

  nav h1 {
    font-size: 1.4rem;
  }

  footer {
    h1 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }

    .subscribe {
      margin: 30px 0;
      form button,
      form input {
        font-size: 18px;
        padding: 5px 10px;
      }
    }

    nav.footer-nav .nav-links ul li {
      font-size: 1rem;
    }

    .ending-tag h2 {
      font-size: 18px;
    }

    .ending-tag p {
      font-size: 12px;
    }
  }
}

@media only screen and (min-width: 650px) {
  section.learn .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 46%;
      height: auto;
      margin: 2% 2%;

      .text {
        text-align: center;

        h2 {
          font-size: 1rem;
        }
      }
    }
  }

  section.articles .article-container {
    display: flex;
    flex-wrap: wrap;

    .article {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 46%;
      height: auto;
      margin: 4% 2%;

      .article-image {
        width: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .text {
        width: 90%;
        text-align: center;
        h1 {
          font-size: 1rem;
        }
      }
    }

    hr {
      display: none;
    }
  }
}

@media only screen and (min-width: 700px) {
  p.excerpt {
    display: inline;
    font-size: 14px;
  }
}

@media only screen and (min-width: 850px) {
  p.excerpt {
    display: inline;
    font-size: 16px;
  }
}

@media only screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;

    img {
      width: 50%;
    }

    .featured-text {
      display: flex;
      flex-direction: column;
      width: 45%;

      .read-more {
        margin-top: auto;
      }
    }
  }

  section.instagram .image-container .image {
    width: 23%;
    margin: 1% 1%;
  }
}

@media only screen and (min-width: 1000px) {
  section.learn .card-container .card {
    width: 31%;
    margin: 1% 1%;
  }

  section.articles .article-container .article {
    width: 31%;
    margin: 4% 1%;
  }
}
